
header {
    display: flex;
    padding: 1.5rem 1rem;
    justify-content: space-between;
    align-content: center;
    height: auto;

    span {
        display: flex;
        height: 2rem;
    }

    div {
        display: flex;
        border: 0px;
        gap: 1rem;
        padding: 0rem;
        align-self: center;

        span {
            display: flex;
            padding: 0.5rem 0.5rem;
            border-radius: 200px;
            justify-content: center;
            align-items: center;
        }

        span:hover {
            background-color: #2F2E2F;
        }

    }

}
