
.messagebox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url(../../assets/background.jfif);
}

.messagebox-container2 {
    padding: 1rem;
    width: 100%;
    height: 100%;

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem; 
    }

    p {
        background-color: var(--background-message);
        padding: 9px 8px 7px 6px;
        border-radius: 5px;
    }
}
