
.messagebox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url(../../assets/background.jfif);
}

.messagebox-container2 {
    padding: 1rem;
    width: auto;

    /*esto es lo que estoy usando para hacer que la pagina ocupe
    todo el height necesario, despues tengo que mejorar esto y hacerlo mejor*/

    div {
        display: flex;
        flex-direction: column;
        gap: 2rem; 
    }

    p {
        background-color: var(--background-message);
        padding: 9px 8px 7px 6px;
        border-radius: 5px;
    }
}
