.whatsapp-footer {
    
    height: auto;
    background-color: var(--background-message);
    border-top: 1px solid #292829;

    ul {
        list-style-type: none;
        display: flex;
        background-color: #1D1F1F;
        gap: 1.5rem;
        justify-content: center;
        padding: 0.5rem;

        a {
            text-decoration: none;
        }

        svg {
            height: auto;
            width: 1.5rem;
        }

        span {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            border-radius: 100px;
        }

        span:hover,span:focus {
            background-color: gray;
        }
    }
}