.whatsapp-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1D1F1F;
    border-top: 1px solid #292829;

    ul {
        display: flex;
        list-style-type: none;
        gap: 1.5rem;
        justify-content: center;
        padding: 0.5rem;

        a {
            text-decoration: none;
        }

        svg {
            height: auto;
            width: 1.5rem;
        }

        span {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: background-color 0.2s ease;
        }

        span:hover,
        span:focus {
            background-color: gray;
        }
    }
}