
body {
    background-color: var(--background-secondary);
    height: 100vw;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.messages-container,.app-container {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Evita scroll global */
}

.messages-container {
    display: none;
}   

@media (min-width:513px) {

    .contact-buttons {
        justify-content: flex-start;
    }    
}

@media (min-width:1176px) {

    .app-container {
        display: flex;
    }

    .messages-container {
        display: flex;
    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        flex-direction: row-reverse;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .contact-container {
        padding: 0.5rem;
    }

}