* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-secondary);
    height: 100%; /* 100 vw before */
    width: 100%; 
    overflow: hidden; 
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.app-container,.contact-list-container { /* only .app-container before */
    height: 100vh;
    overflow: hidden;
}

aside {
    height: 87vh;
}

@media (min-width:513px) {

    .contact-buttons {
        justify-content: flex-start;
    }   

    .messagebox-header .messagebox-div-left div p {
        font-size: 1rem;
    }

    .messagebox-header .messagebox-div-right {
        gap: 1.5rem;
    }

    .messagebox-header .messagebox-div-right span {
        height: 2.5rem;
        width: 2.5rem;

        svg {
            height: 1.2rem;
            width: 1.5rem;
        }

    }

}

@media (min-width:1176px) {

    aside {
        height: auto;
    }

    .app-container {
        display: flex;
    }
    
    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
        position: absolute;
        top: 0;
        flex-direction: row;
        width: auto;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }            
        
    }

    .contact-container {
        height: 80vh;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        min-width: 40rem;
        flex-direction: column;

        header,aside {
            margin-left: 4rem;
        }
    }

    .contact-sidebar-container {
     /* esto es lo que elimina el borde de la pagina */
        width: 100%;
        /*overflow: hidden;*/
    }

    .contact-container {
        padding: 0.5rem;
    }

    .messagebox-container {
        display: flex; 
        position: static !important; /* esto no se porque no andaba sin el !important y lo tuve que dejar asi :( */
        width: auto;
    }
}