
body {
    background-color: #171617;
    height: 100%;
}

@media (min-width:441px) {
    * {
        /**/
    }
}

@media (min-width:768px) {
    
    .app-container {
        display: flex;
        height: 100vh;
    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid #2F2E2F;
        display: flex;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .contact-container {
        padding: 0.5rem;
    }

    .messagebox-container {
        width: 100%;
        height: 100vh;
        border: 1px solid greenyellow;
    }
}