* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-secondary);
    height: auto; /* 100 vw before */
    width: 100%; /* overflow: hidden */
    overflow: hidden;
}

html {
    height: auto; /* 100 vw before */
    width: 100%;
    overflow: hidden;
 /*Esto era para evitar el molesto scroll*/ /*overflow: hidden */
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.contact-sidebar-container {
    border-right: 1px solid #2F2E2F;
    height: 100vh;
}

.messages-container {
    display: none;
}

.contact-sidebar-container { /* pasar esto al CSS despues */
     /* esto es lo que elimina el borde de la pagina */
    overflow: hidden;
    width: 100%;
}

@media (min-width:513px) {

    .contact-buttons {
        justify-content: flex-start;
    }   
    
}

@media (min-width:1176px) {

    .app-container,.messages-container {
        display: flex;
        width: 100%;
    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
        
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }            
        
    }
    
    .contact-list-container {
        border-top: 0;
        display: flex;
        overflow-y: hidden;
        min-width: 40rem;
        flex-direction: row-reverse;
    }

    .contact-sidebar-container {
     /* esto es lo que elimina el borde de la pagina */
        overflow: hidden;
        width: 100%;
    }

    .contact-container {
        padding: 0.5rem;
    }
}