* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-secondary);
    height: auto; /* 100 vw before */
    width: 100%; 
    overflow: visible; 
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.messages-container {
    display: none;
}

aside {
    height: 87vh;
    padding: 1rem 0rem;
}

@media (min-width:513px) {

    .contact-buttons {
        justify-content: flex-start;
    }   
    
}

@media (min-width:1176px) {

    .app-container,.messages-container {
        display: flex;
        width: 100%;
    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
        position: static;
        flex-direction: column;
        width: auto;
        /*height: 100%;*/

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }            
        
    }

    .contact-container {
        height: 80vh;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        min-width: 40rem;
        flex-direction: row-reverse;
    }

    .contact-sidebar-container {
     /* esto es lo que elimina el borde de la pagina */
        width: 100%;
        /*overflow: hidden;*/
    }

    .contact-container {
        padding: 0.5rem;
    }
}