
body {
    background-color: var(--background-secondary);
    height: 100%;
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.messages-container {
    width: 100%;
}

@media (min-width:441px) {
    * {
        /**/
    }
}

@media (min-width:768px) {
    
    .app-container {
        display: flex;
        height: 100vh;

    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        flex-direction: row-reverse;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .contact-container {
        padding: 0.5rem;
    }

    .messagebox-container {
        height: 100vh;
    }
}