* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background-secondary);
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --background-secondary: #171617;
    --border-primary: #2F2E2F;
    --hover-element: #2F2E2F;
    --background-message: #252627;
}

.app-container,
.contact-list-container {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.contact-list-container {
    border-right: 1px solid var(--border-primary);
    display: flex;
    flex-direction: column;
    position: relative;
}

aside {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

@media (min-width:513px) {

    .contact-buttons {
        justify-content: flex-start;
    }

    .messagebox-header .messagebox-div-left div p {
        font-size: 1rem;
    }

    .messagebox-header .messagebox-div-right {
        gap: 1.5rem;
    }

    .messagebox-header .messagebox-div-right span {
        height: 2.5rem;
        width: 2.5rem;

        svg {
            height: 1.2rem;
            width: 1.5rem;
        }

    }

}

@media (min-width:1176px) {

    aside {
        height: 100vh;
    }

    .app-container {
        display: flex;
    }

    .whatsapp-footer {
        border: 0;
        border-right: 1px solid var(--border-primary);
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        height: 100dvh;
        flex-direction: column;
        width: 4rem;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

    }

    .contact-container {
        flex: 1;
        min-height: 0;
    }

    .contact-list-container {
        border-top: 0;
        display: flex;
        min-width: 40rem;
        flex-direction: column;
        height: 100dvh;

        header,
        aside {
            margin-left: 4rem;
        }
    }

    .contact-sidebar-container {
        /* esto es lo que elimina el borde de la pagina */
        width: 100%;
        /*overflow: hidden;*/
    }

    .contact-container {
        padding: 0.5rem;
    }

    /*
    .messagebox-container {
        display: flex; 
        position: static !important; /* esto no se porque no andaba sin el !important y 
        lo tuve que dejar asi :( 
        width: auto;
    }
    */

    .app-container .messagebox-container,
    .app-container .messagebox-outlet-container {
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
    }

    .contact-buttons {
        gap: 1rem;
        justify-content: flex-start;

        button {
            font-size: 0.9rem;
        }
    }

    .subdiv {
        flex-wrap: wrap;
        margin: 0.5rem 0rem;
    }
}