.contact-container {
    /*border: 1px solid blue;*/
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;

}

.contact-container::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

.contact-container::-webkit-scrollbar-track {
    background-color: blue;
}

.contact-container::-webkit-scrollbar-thumb {
    background: purple;
    height: 5px;
    width: 5px;
}

.contact-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.subdiv {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin: 0.5rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.subdiv:hover {
    background-color: var(--hover-element); 
    border-radius: 1rem;
}

.last-message {
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    height: 3rem;
}
