.contact-container {
    /*border: 1px solid blue;*/
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.subdiv {
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin: 0rem 1rem;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: start;
}

.subdiv:hover {
    background-color: var(--hover-element); 
    border-radius: 1rem;
}

.last-message {
    display: flex;
    line-height: 1.5rem;
    flex-direction: column;
    height: 3rem;
}
