.contact-search-form {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 0.2rem 0rem;
    border-radius: 100px;
    position: sticky;

    form {
        background-color: inherit;
        margin: 0.5rem 0rem;
        display: flex;
        align-items: center;
        width: auto;
        justify-content: start;
        border-radius: 100px;
    }

    span {
        height: 1rem;
        width: 1rem;
        position: relative;
        left: 30px;
    }

    input {
        width: 100%;
        border: 0px;
        padding: 0.7rem 1rem 0.7rem 3rem;
        background-color: var(--bg-hover);
        border-radius: 1rem;
        font-weight: 1000;
    }

    input:hover {
        outline: 1px solid var(--input-outline);
    }

    input:focus {
        outline: 2px solid var(--input-focus);
    }

}

.contact-buttons {
    display: flex;
    gap: 0.3rem;
    margin-left: 1rem;
    justify-content: flex-start;

    button {
        border: 1px solid var(--border-primary);
        padding: 0.5rem;
        border-radius: 100px;
        width: min-content;
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        font-weight: 600;
        background-color: inherit;
    }

    button:hover {
        background-color: var(--bg-hover);
    }

    ;
}