.contact-search-form {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    padding: 0rem 1rem;

    input {
        width: 100%;
        padding: 1rem 1rem 1rem 2.5rem;
        margin: 0rem 0rem 1rem;
        border-radius: 100px;
        border: 0px;
        background-color: #2F2E2F;
        font-weight: 1000;
    }

    input:hover {
        outline: 1px solid #757575;
    }

    input:focus {
        outline: 2px solid #21C162;
    }
}

.contact-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
        border: 1px solid #2F2E2F;
        padding: 0.5rem;
        border-radius: 100px;
        width: 5rem;
        background-color: inherit;
    }

    button:hover {
        background-color: #2F2E2F;
    };
}