.contact-search-form {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 0rem 0rem;
    border-radius: 100px;

    form {
        background-color: inherit;
        margin: 0.5rem 0rem;
        display: flex;
        align-items: center;
        width: auto;
        justify-content: start;
        border-radius: 100px;
    }

    span {
        height: 1rem;
        width: 1rem;
        position: relative;
        left: 30px;
    }

    input {
        width: 100%;
        border: 0px;
        padding: 0.7rem 1rem 0.7rem 3rem;
        background-color: #2F2E2F;
        border-radius: 1rem;
        font-weight: 1000;
    }

    input:hover {
        outline: 1px solid #757575;
    }

    input:focus {
        outline: 2px solid #21C162;
    }

}

.contact-buttons {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    justify-content: center;

    button {
        border: 1px solid #2F2E2F;
        padding: 0.5rem;
        border-radius: 100px;
        width: min-content;
        padding: 0.5rem 1rem;
        font-weight: 600;
        background-color: inherit;
    }

    button:hover {
        background-color: #2F2E2F;
    };
}