.text {

    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    div {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border: 1px solid gold;
    }

    p {
        background-color: var(--background-message);
        padding: 9px 8px 7px 6px;
        gap: 1rem;
        display: flex;
        max-width: 25rem;
        border-radius: 5px;
    }

    span {
        position: relative;
        bottom: -10px;
        right: -2px;
        color: #9D9E9E;
        font-size: 0.7rem;
    }
}