.text {

    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    div {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border: 0px;
    }

    p {
        background-color: var(--msg-received-bubble);
        padding: 9px 8px 7px 6px;
        gap: 1rem;
        display: flex;
        max-width: 25rem;
        border-radius: 5px;
    }

    .sent {
        background-color: var(--msg-sent-bubble);
        align-self: flex-end;
    }

    .received {
        background-color: var(--msg-received-bubble);
        align-self: flex-start;
    }

    span {
        position: relative;
        bottom: -10px;
        right: -2px;
        color: var(--text-time);
        font-size: 0.7rem;
    }
}