.messagebox-header {
    padding: 1rem;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    flex-wrap: wrap;

    background-color: #171617;
    justify-content: space-between;

    img {
        border-radius: 200px;
        height: 3rem;
        object-fit: cover;
        width: 3rem;
    }
}

.messagebox-div-left {
    display: flex;
    gap: 0.5rem;
    line-height: 1.5rem;

    div {
        display: flex;
        flex-direction: column;
    }
}

.messagebox-div-right {
    display: flex;
    gap: 2.5rem;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
    }

    svg {
        height: 1.5rem;
        width: 2rem;
    }

    span:hover {
        background-color: gray;
        border-radius: 100px;
    }
    
}