.messagebox-header {
    padding: 0.5rem 0.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    background-color: #171617;
    justify-content: space-between;

    img {
        border-radius: 400px;
        height: 2.5rem;
        object-fit: cover;
        width: 2.5rem;
    }

}

.messagebox-div-left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1.5rem;

    div {
        display: flex;
        flex-direction: column;

        p { /* check temp */
            font-size: 0.7rem;
        }    

    }

    button {
        background: none;
        border: none;
    }

    svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    path {
        height: 2rem;
        width: 2rem;
    }
}

.messagebox-div-right {
    display: flex;
    gap: 0.5rem;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        width: 1.5rem; 
    }

    svg {
        height: 1rem;
        width: 1rem;
    }

    span:hover {
        background-color: #2F2E2F;
        border-radius: 100px;
    }
    
}