.messagebox-footer {
    background-color: var(--bg-footer);
    margin: 1rem;
    border-radius: 100px;
    padding: 0.5rem;
    display: block;
    background-color: var(--background-message);

    form {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            display: flex;

            span {
                /*background-color: aqua; */
                height: 2.5rem;
                width: 2.5rem;
                display: flex;
                flex-direction: row;
                border-radius: 100px;
                justify-content: center;
                align-items: center;
            }

            span:hover {
                background-color: var(--bg-hover);
            }

        }

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

}

input {
    border: none;
    padding: 0.5rem;
    width: min-content;
    width: 100%;
    background-color: inherit;
    font-weight: 600;
    font-size: 14px;
}

input:hover {
    outline: none;
    border: none;
}